/* Style unique pour l'histoire "La Forêt Magique" */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f9e6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #339966;
}

header p {
    font-size: 1.2em;
    color: #006633;
}

.content {
    padding: 20px;
    text-align: center;
}

.content img {
    width: 80%;
    max-width: 500px;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

nav.menu {
    text-align: center;
    margin-top: 20px;
}

nav.menu a {
    display: inline-block;
    background-color: #66cc99;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 8px;
    margin-top: 150px;
}

nav.menu a:hover {
    background-color: #339966;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 500px;
}